.containerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50px;

    h1 {
 font-size: 24px;
 color: #5e0347;
 font-weight: 600;
 margin: 30px auto;
    }

    .containerProductosInicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        gap: 16px;
    }

    .containerNosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 50px;

        .containerRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;

            div {
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                svg {
               fill: #5e0347;
                }

            }
        }
    }
}

.formularioContacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 95%;
    gap: 16px;
    min-width: 340px;
    padding: 16px;
border: 2px solid #5e0347;
border-radius: 8px;
margin-bottom: 50px;

    input, textarea {
        min-height: 32px;
        border-radius: 8px;
        width: 100%;
        padding: 4px 12px;
    }

    textarea {
        min-height: 100px;
    }


        .btnForm {
        background-color: #5e0347;
        color: #FFFFFF;
        font-size: 16px;
        padding: 8px 64px;
        border-radius: 32px;
        width: 100%;
        text-decoration: none;
        border: none;

          &:hover {
    background-color: #c32a9c;
  }
    }
}
@media screen and (min-width: 768px) {

    .containerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    h1 {
font-size: 32px;
margin: 0px auto 30px;
    }

    .containerProductosInicio {        
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
        max-width: 1200px;
    }

        .containerNosotros {
        gap: 32px;
        max-width: 1000px;

        .containerRedes {
            gap: 64px;

            div {
                font-size: 24px;
                gap: 16px;

            }
        }
    }
}


.formularioContacto {
    min-width: 600px;

}
}