.containerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50px;

    h1 {
 font-size: 24px;
 color: #5e0347;
 font-weight: 600;
 margin: 30px auto;
    }

    .containerProductosInicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        gap: 16px;
    }

    .containerNosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        .containerRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;

            div {
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                svg {
               fill: #5e0347;
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {

    .containerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    h1 {
font-size: 32px;
margin: 0px auto 30px;
    }

    .containerProductosInicio {        
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
        max-width: 1200px;
    }

        .containerNosotros {
        gap: 32px;
        max-width: 1000px;

        .containerRedes {
            gap: 64px;

            div {
                font-size: 24px;
                gap: 16px;

            }
        }
    }
}
}